#k{
	color: white;
}
.k1{
	color: white;
}
.bg{
	background: #FFCCCC;
}
.phai{
	float: right;
}
.trai{
	float: left;
}
.btn1{
	background: #FF0000;
	color: white;
}
.do{
	color: #CC0000;
.km{
	background:
}#FFCC99;
}
.vang{
	background: #FF9900;
}
strike{
	color: #999999	;
}
.f{
	width: 100%;
}